---
layout: default.njk
---
<section>
    <div class="inner-section error-page">
        <h2 class="title">Whoops, sorry about that!</h2>
        {% include 'svgs/towtruck.svg' %}
        <p>We weren't able to find the page you're looking for.</p>
        <a href="/" class="link">Return Home</a>
    </div>
</section>