---
layout: default.njk
---

<section>
    <div class="inner-section light-theme">
        <h2 class="title">BYO-Bike Tour Packages</h2>
        <p>Inquire about our traditional bike ride tours! After the 3rd of October, we'll begin a series of farm tours. You provide the bikes, we'll handle the rest!</p>
        <p>Beginning at 11am, the tour will take approximately 4 hours, including barn stops and meal.</p>

        <div class="packages">

            <div class="card">
                <img src="/assets/images/highland-lodge-location.jpg" alt="">
                <div class="description">
                    <h3>Mixed Package</h3>
                    <ul>
                        <li>Overnight at Highland Lodge</li>
                        <li>Guided bike tour</li>
                        <li>Lunch</li>
                    </ul>

                </div>
                <div class="pckg-quantity">
                    
                    <input id='one' type="radio" name="quantity" value='1'>
                    <label for="one" class="radio-txt">One Person
                    </label>
                    
                    <input id='two' type="radio" name="quantity" value='2'>
                    <label for='two' class="radio-txt">Two People
                    </label>
                </div>
                <button role="link" type="button" id="checkout-button-price_1HVRlPIwoCUI91Gnpjo2N6Eo" class="select-btn">Pay now: $<span id="mixed-pckg-cost">190</span></button>

            </div>

            <div class="card">

                <img src="/assets/images/rural-biking.jpg" alt="">
                <div class="description">
                    <h3>Minimal Package</h3>
                    <ul>
                        <li>Guided bike tour</li>
                        <li>Lunch</li>
                    </ul>
                </div>
                <button role="link" type="button" id="checkout-button-price_1HVRlPIwoCUI91Gnpjo2N6Eo" class="select-btn">Pay now: $30</button>
            </div>

        </div>
    </section>