---
layout: default.njk
---

<section class="light-theme">
    <div class="inner-section">
        <h2 class="title">Explore with us!</h2>
        <p>This leisurely foliage season ride will be along the scenic backroads of the Northeast Kingdom. Midway through our ride, we'll also stop for lunch at one of the regions many local farms.</p>
        <p>Afterward, while away the night cozied up in Greensboro's <span class='italic'>Highland Lodge</span>.</p>
    </div>
</section>

<section class="light-theme">
    <div class="inner-section">
        <h2 class="title">Book it now!</h2>
        <p>Our e-bike tours are filling up quickly, so make sure to save your spot today.</p>
        <div class="dual-grid">

            <a href="" class="link">
                <span class="link-text">e-Bike Tours</span>{% include 'svgs/bicycle.svg' %}
            </a>

            <a href="" class="link">
                <span class="link-text">Traditional Tours</span>{% include 'svgs/bicycle.svg' %}
            </a>
        </div>
    </div>
</section>

<div class="wave-container">

    {% include 'svgs/drip-up.svg'%}

</div>

<section class="dark-theme">
    <div class="inner-section">
        <h2 class="title">Our partners</h2>
        <div class="dual-grid">
            <img src="/assets/partners/highland-lodge.png" alt="" class="partner">
            <img src="/assets/partners/LVBT.jpg" alt="" class="partner">
        </div>
    </div>
</section>

<div class="wave-container">
    {% include 'svgs/drip-down.svg'%}
</div>
<section class="light-theme">
    <div class="inner-section">
        <h2 class="title">Contact</h2>
        <p>some links and social down here</p>
    </div>
</section>