---
layout: default.njk
---

<section class="light-theme">
    <div class="inner-section">
        <h2 class="title">Explore with us!</h2>
        <p>This leisurely ride will be packed with foliage along the Lamoille Valley Rail Trail, and we'll break for lunch at a local farm!</p>
        <p>Afterward, while away the night at the Highland Lodge in Greensboro.</p>
    </div>
</section>

<section class="light-theme">
    <div class="inner-section">
        <h2 class="title">Book it now!</h2>
        <p>Our e-bike tours are filling up quickly, so make sure to save your spot today.</p>
    </div>
</section>

<div class="wave-container">

    {% include 'svgs/drip-up.svg'%}

</div>

<section class="dark-theme">
    <div class="inner-section">
        <h2 class="title">Our partners</h2>
        <div class="partners">
            <img src="/assets/partners/highland-lodge.png" alt="" class="partner">
            <img src="/assets/partners/LVBT.jpg" alt="" class="partner">
        </div>
    </div>
</section>

<div class="wave-container">
    {% include 'svgs/drip-down.svg'%}
</div>
<section class="light-theme">
    <div class="inner-section">
        <h2 class="title">Contact</h2>
        <p>some links and social down here</p>
    </div>
</section>