---
layout: default.njk
---

<section class="light-theme">
    <div class="inner-section" data-sal="zoom-in" data-sal-duration="500" data-sal-easing="ease-out-back">
        <h2 class="title">Explore with us!</h2>
        <p>This leisurely foliage season ride will be along the scenic backroads of the Northeast Kingdom. Midway through our ride, we'll also stop for lunch at one of the regions many local farms.</p>
        <p>Afterward, while away the night cozied up in Greensboro's
            <span class='italic'>Highland Lodge</span>.</p>
        <div class="dual-grid">

            <a target="_blank" href="" class="link">
                <span class="link-text">e-Bike Tours</span>{% include 'svgs/bicycle.svg' %}
            </a>

            <a target="_blank" href="" class="link">
                <span class="link-text">Traditional Tours</span>{% include 'svgs/bicycle.svg' %}
            </a>
        </div>
    </div>
</section>

<section class="light-theme">
    <div class="inner-section" data-sal="zoom-in" data-sal-duration="500" data-sal-easing="ease-out-back">
        <h2 class="title">Limited bikes</h2>
        <p>An era of technology, the 21st century meets rustic Vermont as we ride e-Bikes! This electric assitance affords a faster and more relaxed alternative to regular bikes, but they're going quickly. Reserve yours today!</p>
    </div>
</section>

<div class="wave-container">

    {% include 'svgs/drip-up.svg'%}

</div>

<section class="dark-theme">
    <div class="inner-section" data-sal="zoom-in" data-sal-duration="500" data-sal-easing="ease-out-back">
        <h2 class="title">Our partners</h2>
        <div class="wrapping-list">
            <a target="_blank" href="https://www.highlandlodge.com/">
                <img src="/assets/partners/highland-lodge.png" alt="" class="partner">
            </a>
            <a target="_blank" href="https://www.lamoillevalleybiketours.com/">
                <img src="/assets/partners/LVBT.png" alt="" class="partner">
            </a>
            <a target="_blank" href="https://hardwickagriculture.org/">
                <img src="/assets/partners/CAE-logo.png" alt="" class="partner">
            </a>
        </div>
    </div>
</section>

<div class="wave-container">
    {% include 'svgs/drip-down.svg'%}
</div>
<section class="light-theme contact">
    <div class="inner-section" data-sal="zoom-in" data-sal-duration="500" data-sal-easing="ease-out-back">
        <h2 class="title">Contact</h2>
        <div class="wrapping-list link-list">
            <a href="mailto:contact@trekthenek.tours">
                {% include 'svgs/email.svg' %}
                <div>contact@TrekTheNEK.tours</div>
            </a>
            <a href="tel:+8023224456">
                {% include 'svgs/telephone.svg' %}
                <div>(802) 322-4456</div>
            </a>
            <a href="https://www.facebook.com/TREKtheNEK" target="_blank">
                {% include 'svgs/facebook.svg' %}
                <div>Facebook</div>
            </a>
        </div>
    </div>
</section>