@font-face {
    font-family: 'InkFree';
    font-display: block;
    src: url('/assets/fonts/ink-free-normal.ttf') format('truetype')
}

@font-face {
    font-family: 'CourierPrime';
    font-display: block;
    src: url('/assets/fonts/CourierPrime-Regular.ttf') format('truetype')
}

/* utilities */
html {
    scroll-behavior: smooth;
    min-height: 100%;
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    font-family: 'CourierPrime', Helvetica, sans-serif;
    font-size: 1.1em;
}

main {
    flex: 1 1 auto;
}

p {
    margin-top: 5px;
    line-height: 1.7em;
}

.italic {
    font-style: italic;
}

h1 {
    font-size: 1.5em;
}

.title {
    color: #448088;
    font-weight: bold;
    margin: 0;
    font-size: 2em;
}



/* layout */

section,
header {
    display: flex;
    justify-content: center;
}

.inner-section {
    width: 100%;
    max-width: 1000px;
    margin: 20px 10px 0 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.wave-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.drip {
    min-width: calc(100vw + 900px);
    height: 70px;
}


@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

.drip-down {
    display: block;
    transform-origin: top;
    animation: animateWave 1s ease;
}

footer {
    margin-top: 80px;
    padding: 25px 0;
    padding-right: 20px;
    text-align: right;
    font-size: .7em;
}

footer a {
    color: white;
    text-decoration: none;
}


/* themes */

.dark-theme {
    background-color: #992F37;
    color: white;
}

.dark-theme .title {
    color: white;
}

/* header */

header {
    background-color: #992F37;
    color: white;
    font-family: 'InkFree', Arial, Helvetica, sans-serif;
}

header .inner-section {
    padding: 10px 0 0 0;
}

header a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

header a>* {
    margin: 5px 10px;
}

.logo-wrapper {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}

.trekthenek-logo {
    height: 50px;
}

/* buttons */

a.button,
button {
    text-decoration: none;
    background-color: #629CFF;
    color: white;
    font-size: 1.3em;
    padding: 0.7em 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #575757;
    width: -webkit-fill-available;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
}

.wrapping-list .button {
    max-width: 300px;
}

.button.full-width {
    width: initial;
    margin: 0 0 32px 0;
}


.button:hover .bicycle {
    height: 15px;
    width: 50px;
}

.bicycle {
    height: 10px;
    width: 0px;
    transition: all ease .2s;
}


/* partners section */

.partner {
    height: 70px;
    margin: 10px;
}

/* contact section */

.wrapping-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.wrapping-list>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 12px;
    position: relative;
    text-decoration: none;
    color: black;
}

.link-list {
    color: black;
}

.link-list>*:hover,
.link-list>*:hover svg {
    color: white;
    fill: white;
    transition: color ease .35s, fill ease .2s;
}

.link-list>*:after {
    content: "";
    background-color: #629CFF;
    position: absolute;
    left: 0px;
    bottom: -4px;
    width: 100%;
    height: 4px;
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
}

.link-list>*:hover:after {
    left: -3%;
    bottom: -3%;
    width: 106%;
    height: 108%;
}

.link-list a>* {
    margin: 10px;
}


.contact svg {
    height: 50px;
}


/* 404 page */
.error-page {
    align-items: center;
}

.towtruck {
    height: min-content;
    width: 40vw;
}

/* form submission */
form {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.packages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.packages label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
    max-width: 1000px;
}


/* .packages input {
    display: none;
} */

.packages .card {
    min-width: 300px;
    width: -webkit-fill-available;
    box-shadow: 2px 2px 12px black;
    margin: 15px;
}

.selected-text {
    display: none;
}






.packages .select-btn {
    background: #629cff;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 1em;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}



button:hover,
label:hover {
    cursor: pointer;
}

.packages img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.packages .description {
    padding: 10px 20px;
}

.pckg-quantity input {
    width: 0;
    height: 0;
}

.pckg-quantity input:checked+label {
    background-color: green;
}

/* media queries */

@media only screen and (min-width: 800px) {
    section .inner-section {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}