<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/styles/sal.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trek the NEK!</title>
        <link rel="icon" type="image/png" href="/assets/favicon.ico">
        <style>
            {% include "styles/site.css" %}
            {% include "styles/sal.css" %}
        </style>

    </head>

    <!-- If you're looking at the code, chances are, you might want to contribute to this project. Check out the Github repo here: https://github.com/JamesTedesco/uvm.vote -->
    <body>

        <header>
            <div class="inner-section">
                <a href="/">
                    <h1>Bike across the Northeast Kingdom!</h1>
                    <div class="logo-wrapper">
                        {% include 'svgs/trekthenek.svg' %}
                    </div>
                </a>
            </div>
        </header>

        <div class="wave-container">
            {% include 'svgs/drip-down.svg'%}
        </div>
        {{ content | safe }}

        <footer class='dark-theme'>
            <a href="https://jamestedesco.me" target="_blank">Made with ❤ in VT</a>
        </footer>

        <script src="/assets/scripts/sal.js"></script>
        <script src="/assets/scripts/site.js"></script>
        <noscript>
            <style type="text/css">
                [data-sal|='fade'] {
                    opacity: 1;
                }

                [data-sal|='slide'],
                [data-sal|='zoom'] {
                    opacity: 1;
                    transform: none;
                }

                [data-sal|='flip'] {
                    transform: none;
                }
            </style>
        </noscript>
    </body>
</html>