<!DOCTYPE html>
<html lang="en">
    <head>

        <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-151087295-3"></script>
        <script>
            if (!window.document.location.href.includes('local')) {
                <!-- Global site tag (gtag.js) - Google Analytics -->

                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-151087295-3');

            } else {
                console.log('dev environment --> no analytics tracking')
            }
        </script>

        <link rel="stylesheet" href="/assets/styles/sal.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/assets/favicon.ico">

        <!-- Primary Meta Tags -->
        <title>Trek The NEK!</title>
        <meta name="title" content="Trek The NEK!">
        <meta name="description" content="Explore the Northeast Kingdom's farms by riding e-bikes for a day! A perfect staycation.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://trekthenek.tours/">
        <meta property="og:title" content="Trek The NEK!">
        <meta property="og:description" content="Explore the Northeast Kingdom's farms by riding e-bikes for a day! A perfect staycation.">
        <meta property="og:image" content="https://trekthenek.tours/assets/images/TrekTheNEK-preview.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://trekthenek.tours/">
        <meta property="twitter:title" content="Trek The NEK!">
        <meta property="twitter:description" content="Explore the Northeast Kingdom's farms by riding e-bikes for a day! A perfect staycation.">
        <meta property="twitter:image" content="https://trekthenek.tours/assets/images/TrekTheNEK-preview.png">
        <style>
            {% include "styles/site.css" %}
            {% include "styles/sal.css" %}
        </style>

    </head>

    <!-- If you're looking at the code, chances are, you might want to contribute to this project. Check out the Github repo here: https://github.com/JamesTedesco/uvm.vote -->
    <body>

        <header>
            <div class="inner-section">
                <a href="/">
                    <h1>Bike across the Northeast Kingdom!</h1>
                    <div class="logo-wrapper">
                        {% include 'svgs/trekthenek.svg' %}
                    </div>
                </a>
            </div>
        </header>

        <div class="wave-container">
            {% include 'svgs/drip-down.svg'%}
        </div>
        {{ content | safe }}

        <footer class='dark-theme'>
            <a href="https://jamestedesco.me" target="_blank">Coded with ❤ in VT</a>
        </footer>

        <script src="/assets/scripts/sal.js"></script>
        <script src="/assets/scripts/site.js"></script>
        <noscript>
            <style type="text/css">
                [data-sal|='fade'] {
                    opacity: 1;
                }

                [data-sal|='slide'],
                [data-sal|='zoom'] {
                    opacity: 1;
                    transform: none;
                }

                [data-sal|='flip'] {
                    transform: none;
                }
            </style>
        </noscript>
    </body>
</html>