<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/assets/styles/sal.css">

        <style>
            {% include "styles/site.css" %}
        </style>

    </head>

    <!-- If you're looking at the code, chances are, you might want to contribute to this project. Check out the Github repo here: https://github.com/JamesTedesco/uvm.vote -->
    <body>

        {{ content | safe }}
        <script src="/assets/scripts/sal.js"></script>
    </body>
</html>